<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odaat | Fragments</title>
</head>
<body>
    <nav class="flex justify-between" th:fragment="header">
        <a th:href="@{/}"><img src="/images/ui/logo.png" alt="Logo"></a>
        <div class="flex gap-3">
            <a th:href="@{/dashboard}">Dashboard</a>
            <a th:href="@{/overview}">Overview</a>
            <!-- <a href="#">Calendar</a> -->
            <img src="/images/user/profile.png" alt="John Doe">
        </div>
    </nav>

    <label th:fragment="drop-down (label, options)" th:with="id=${id} ?: ''" th:id="${id}" class="flex gap-2">
        <p th:text="${label}"></p>
        <select th:id="${label}">
            <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
        </select>
    </label>

    <label th:fragment="input (label)" th:with="id=${id} ?: '', disabled=${disabled} ?: 'false'" th:id="${id}" class="input-label">
        <p th:text="${label}"></p>
        <input type="text" th:disabled="${disabled}"/>
    </label>
</body>
</html>