<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odaat | Modals</title>
</head>
<body>
    <form class="modal-container" th:fragment="theme-modal (programs)">
        <header>
            <img id="mt-img" src="/images/ui/placeholder.png" alt="Click to Edit"/>
            <input id="mt-name" class="font-title font-big font-bold" value="THEME NAME"/>
            <p id="mt-prompt" class="font-small">(click to edit)</p>
        </header>
        <div>
            <div id="mt-type" th:replace="fragments/common :: drop-down (
                label='Type', options=${ {'PROJECT', 'ROUTINE'} })"></div>
            <div id="mt-program" th:replace="fragments/common :: drop-down (
                label='Program', options=${programs})"></div>
            <label id="mt-details" >
                <p>Details</p>
                <textarea rows="10"></textarea>
            </label>
            <div id="mt-start" th:replace="fragments/common :: input (label='Start')"></div>
            <div id="mt-deadline" th:replace="fragments/common :: input (label='Deadline')"></div>
            <div id="mt-days" th:replace="fragments/common :: input (label='Days')"></div>
            <div id="mt-status" th:replace="fragments/common :: drop-down (
                label='Status', options=${ {'IN PROG.', 'ENDED'} })"></div>
            <div id="mt-end" th:replace="fragments/common :: input (label='End')"></div>
            <div id="mt-spent" th:replace="fragments/common :: input (label='Spent')"></div>
            <div id="mt-estimated" th:replace="fragments/common :: input (label='Estimated')"></div>
            <div id="mt-from" th:replace="fragments/common :: input (label='From')"></div>
            <div id="mt-to" th:replace="fragments/common :: input (label='To')"></div>
            <button id="mt-submit" class="btn-blue-dark" type="submit">CREATE</button>
        </div>
    </form>
</body>
</html>