<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odaat | Modals</title>
</head>
<body>
    <form id="mt-form" class="modal-container" th:fragment="theme-modal (programs, days)">
        <img id="mt-close" src="/images/ui/close.png" alt="Close"/>
        <header id="mt-name" >
            <img id="mt-img" src="/images/ui/placeholder.png" alt="Click to Edit"/>
            <input class="font-title font-big font-bold" placeholder="THEME NAME (click to edit)"/>
        </header>
        <div>
            <div th:replace="fragments/common :: drop-down (
                label='Type', options=${ {'PROJECT', 'ROUTINE'} }, id='mt-type')"></div>
            <div th:replace="fragments/common :: drop-down (
                label='Program', options=${programs}, id='mt-program')"></div>
            <label id="mt-description">
                <p>Details</p>
                <textarea rows="5"></textarea>
            </label>
            <div th:replace="fragments/common :: input (label='Start', id='mt-start', type='date')"></div>
            <div th:replace="fragments/common :: input (label='Deadline', id='mt-deadline', type='date')"></div>
            <div th:replace="fragments/common :: drop-down (
                label='Days', options=${days}, id='mt-days', multiple='true')"></div>
            <div th:replace="fragments/common :: drop-down (
                label='Status', options=${ {'IN PROG.', 'ENDED'} }, id='mt-status')"></div>
            <div th:replace="fragments/common :: input (label='End', id='mt-end', disabled='true', type='date')"></div>
            <div th:replace="fragments/common :: input (label='Spent', id='mt-spent', type='number')"></div>
            <div th:replace="fragments/common :: input (label='Estimated', id='mt-estimated', type='number')"></div>
            <div th:replace="fragments/common :: input (label='From', id='mt-from', type='time')"></div>
            <div th:replace="fragments/common :: input (label='To', id='mt-to', type='time')"></div>
        </div>
        <div class="flex gap-1 mt-3 ml-auto w-50-forced">
            <button id="mt-delete" data-delete-id="" class="btn-red font-cap" type="button" onclick="deleteTheme(this)">Delete</button>
            <button id="mt-submit" class="btn-blue-dark font-cap" type="submit">Create</button>
        </div>
    </form>
</body>
</html>