<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odaat | Task</title>
    <link rel="stylesheet" href="css/task.css">
</head>
<body>
    <section th:fragment="task-details (tasks, reportOptions, completionStatus)" class="task-details">
        <header class="title-container bg-blue-dark">
            <p class="font-title font-big font-bold" th:text="${
                not #lists.isEmpty(tasks) 
                ? tasks[0].date 
                : #dates.format(#calendars.createNow().time, 'yyyy-MM-dd')
            }"></p>
            <div th:replace="fragments/common :: drop-down (label='', options=${reportOptions})" class="task-container"></div>
        </header>
        <table id="task-table">
            <tr th:each="task : ${tasks}" th:classappend="${task.status == completionStatus ? 'completed-task' : ''}">
                <td th:text="${#temporals.format(task.startTime, 'HH:mm')}"></td>
                <td th:text="${#temporals.format(task.endTime, 'HH:mm')}"></td>
                <!-- <td><img th:src="${userImgDir + task.theme.imgName}" th:alt="${task.theme.name}"></td> -->
                <td th:unless="${task.theme == null}">
                    <img th:src="${userImgDir + task.theme.imgName}" th:alt="${task.theme.name}"/>
                </td>
                <td th:if="${task.theme == null}"></td>
                <td th:text="${task.description}"></td>
                <td th:if="${task.status} == ${completionStatus}">
                    <img src="/images/ui/redo.png" alt="redo"/>
                </td>
                <td th:unless="${task.status} == ${completionStatus}">
                    <img src="/images/ui/complete.png" alt="redo"/>
                </td>
            </tr>
        </table>
    </section>

    <form id="task-create" th:fragment="task-adder (themeList)" class="task-adder">
        <label class="flex gap-2">
            <p>Project:</p>
            <select id="task-create-theme" >
                <option th:each="theme : ${themeList}" th:value="${theme.id}" th:text="${theme.name}"></option>
            </select>
        </label>
        <label class="flex gap-2">
            Description:
            <input id="task-create-description" type="text" name="description"/>
        </label>
        <button id="task-create-button" type="submit">Add</button>
    </form>
</body>
</html>