/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=JetBrains+Mono:wght@100;300;700&display=swap');

/* Constants */
html{
    --brand-blue-light: #D6E6ED;
    --brand-blue-dark: #023047;
    --brand-orange: #FB8500;
    --brand-red: #fb4700;
    --brand-gray-light: #eee;
    --brand-gray-mid: #aaa;
    --brand-gray-dark: #333;

    --border-small: 5px;
    --border-mid: 10px;
    --shadow-small: 1px 1px 3px #aaa;
    --shadow-mid: 2px 2px 5px #aaa;
    --user-input-height: 3em;
    --user-input-weigth: 10em;
    --input-width-large: 30em;
    --theme-padding: 15px;
    --modal-padding: 25px;

}

/* Default */
body {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    box-sizing: border-box;
    background-color: var(--brand-blue-light);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    font-size: 14px;

    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: var(--brand-blue-dark);
    transition: 0.1s;
    border-bottom: 0px solid white;
}

a:hover {
    border-bottom: 2px solid white;
}

button, select, input {
    height: var(--user-input-height);
    min-width: var(--user-input-width);
    background-color: white;
    border: none;
    border-radius: var(--border-small);
    box-shadow: var(--shadow-small);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

textarea {
    border: none;
    padding: 5px 15px;
    border-radius: var(--border-small);
    box-shadow: var(--shadow-small);
}

button, select {
    cursor: pointer;
}

select {
    border-right: 1em solid #0000;
}

input:disabled {
    box-shadow: none;
    border: 1px solid var(--brand-gray-light);
    color: var(--brand-gray-light);
}

nav {
    padding: 2em 3em;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--brand-blue-light);
}

nav img {
    height: 3em;
}

/* Layout */
.flex {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

/* Utils */
.gap-1 { gap: 2em; }
.gap-2 { gap: 3em; }
.gap-3 { gap: 5em; }
.gap-4 { gap: 7em; }
.gap-5 { gap: 10em; }

.ml-auto { margin-left: auto; }

.mt-3 { margin-top: 3em; }

.w-50-forced { width: 50% !important; }

.font-bold{ font-weight: 100; }
.font-thin{ font-weight: 700; }
.font-big { font-size: 25px; }
.font-small { font-size: 10px; }
.font-title { font-family: 'Itim', cursive; }
.font-right { text-align: right; }
.font-center { text-align: center; }
.font-cap { text-transform: uppercase; }

.bg-blue-dark { background-color: var(--brand-blue-dark); color: white; }
.bg-gray-light { background-color: var(--brand-gray-light); }
.bg-gray-dark { background-color: var(--brand-gray-dark); color: white; }
.bg-black { background-color: black; color: white; }
.bg-white { background-color: white; color: black;}
.bg-blue-forced { background-color: var(--brand-blue-dark) !important;}

.hidden{ display: none; }
.hidden-forced { display: none !important; }

/* Components */
.btn-blue { background-color: var(--brand-blue-light); }
.btn-blue-dark { background-color: var(--brand-blue-dark); color: white; font-weight: 700;}
.btn-orange { background-color: var(--brand-orange); color: white; font-weight: 700;}
.btn-red { background-color: var(--brand-red); color: white; font-weight: 700;}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: 1px solid var(--brand-blue-dark);
}