<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odaat | Dashboard</title>
    <link rel="stylesheet" href="css/task.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <div th:replace="fragments/common :: header"></div>
    <div class="flex justify-center">
        <div th:if="${not #lists.isEmpty(tasks)}" th:replace="fragments/task :: task-details (
            tasks = ${tasks},
            reportOptions = ${reportOptions},
            completionStatus = ${completionStatus},
            userImgDir = ${userImgDir},
        )"></div>
    </div>
    <div th:replace="fragments/task :: task-adder (
        themeList = ${themeList}
    )"></div>

    <script th:inline="javascript">
        // Server variables
        const IMG_DIR = /*[[${userImgDir}]]*/ "";
        const API_ROUTE = /*[[${apiRoute}]]*/ "";
    </script>
    <script>
        const CSRF_TOKEN = document.querySelector("meta[name='_csrf']").getAttribute("content");
        const [ TASK_CONTAINER, TASK_CREATE, TASK_CREATE_THEME, TASK_CREATE_DESCRIPTION, TASK_CREATE_BUTTON ] 
            = ['task-table', 'task-create', 'task-create-theme', 'task-create-description', 'task-create-button']
                .map(i => document.getElementById(i));
    </script>
    <script src="js/utils.js"></script>
    <script src="js/model.js"></script>
    <script src="js/task.js"></script>
</body>
</html>