<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Odaat | Overview</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/overview.css">
    <link rel="stylesheet" href="css/modal.css">
</head>
<body>
    <!-- Header -->
    <div th:replace="fragments/common :: header"></div>
    <!-- Modal -->
    <div id="overviewModal" class="modal-wrapper"
    th:insert="fragments/modal :: theme-modal (
        programs = ${programs},
        days = ${days}
    )"></div>
    <!-- TODO: make this DRY -->
    <!-- Ongoing Themes -->
    <div th:replace="fragments/themes :: theme-group (
        title = 'Ongoing',
        themes = ${currentThemes},
        projectDescription = ${projectDescription},
        routineDescription = ${routineDescription},
        controls = ${ {'byProgram', 'newBtn'} },
        addBtnId = 'addThemeBtn',
        wrapperId = 'theme-wrapper',
        programs = ${programs},
        userImgDir = ${userImgDir}
    )"></div>
    <!-- Previous Themes -->
    <div th:replace="fragments/themes :: theme-group (
        title = 'Previous',
        themes = ${previousThemes},
        projectDescriptor = ${projectDescriptor},
        routineDescriptor = ${routineDescriptor},
        controls = ${ {'sortOption'} },
        addBtnId = '',
        wrapperId = '',
        programs = ${programs},
        userImgDir = ${userImgDir}
    )"></div>
    <script th:inline="javascript">
        // Server variables
        const IMG_DIR = /*[[${userImgDir}]]*/ "";
        const API_ROUTE = /*[[${apiRoute}]]*/ "";
    </script>
    <script>
        // Mapping DOM elements for JS:
        const idMapper = id => document.getElementById(id);

        // Modal elements
        const [ MODAL, ADD_BTN ] = ['overviewModal', 'addThemeBtn'].map(idMapper);

        // Modal form elements
        const [
            FORM, CLOSE, IMG, NAME, PROMPT, TYPE, PROGRAM, DESCRIPTION, START, DEADLINE, DAYS, STATUS, END, SPENT, ESTIMATED, FROM, TO, DELETEBTN, SUBMIT
        ] = ['mt-form', 'mt-close', 'mt-img', 'mt-name', 'mt-prompt', 'mt-type', 'mt-program', 'mt-description', 'mt-start', 'mt-deadline', 'mt-days', 'mt-status', 'mt-end', 'mt-spent', 'mt-estimated', 'mt-from', 'mt-to', 'mt-delete', 'mt-submit'].map(idMapper);

        // Theme page elements
        const [
            THEME_WRAPPER
        ] = ['theme-wrapper'].map(idMapper);

        // Class of theme-cards
        const THEME_CLASS = 'theme-container';
        // Custom attribute to build UI from JS
        const DATA_ATTRIBUTE = 'data-theme-key';
        // CSRF
        const CSRF_TOKEN = document.querySelector("meta[name='_csrf']").getAttribute("content");

    </script>

    <script src="js/model.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/overview.js"></script>
</body>
</html>