spring.application.name=odaat
server.port=9000

# Database Connection
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# Backlog OAuth2
backlog.oauth2.client-id=
backlog.oauth2.client-secret=
backlog.oauth2.authorization-uri=
backlog.oauth2.token-uri=
backlog.oauth2.redirect-uri=

# JDBC and Hibernate
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
# spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# Flyway
flyway.enabled=true
flyway.baseline-on-migrate=true