spring.application.name=odaat
server.port=9000

# Database connection settings
spring.datasource.url=jdbc:mysql://localhost:3306/odaat
spring.datasource.username=odaat
spring.datasource.password=odaat

# JDBC driver class name
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Hibernate settings
# spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# Flyway settings
flyway.enabled=true
flyway.baseline-on-migrate=true

# Backlog OAuth2
backlog.oauth.client-id=
backlog.oauth.client-secret=
backlog.oauth.authorization-uri=
backlog.oauth.token-uri=
backlog.oauth.redirect-uri=