<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.odaat.Mapper.TaskMapper">

        <resultMap id="ThemeResult" type="dev.odaat.Entity.Theme">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="program" column="program"/>
            <result property="timeSpent" column="timespent"/>
            <result property="type" column="type"/>
            <result property="description" column="description"/>
            <result property="imgName" column="img_name"/>
            <result property="startedAt" column="started_at"/>
            <result property="completedAt" column="completed_at"/>
        </resultMap>

    <resultMap id="TaskResult" type="dev.odaat.Entity.Task">
        <id property="id" column="id"/>
        <result property="isRoutineTask" column="is_routine_task"/>
        <result property="date" column="date"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <association property="theme" column="theme" resultMap="ThemeResult"/>
        <!-- <association property="theme" column="theme" javaType="dev.odaat.Entity.Theme">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="program" column="program"/>
            <result property="timeSpent" column="timespent"/>
            <result property="type" column="type"/>
            <result property="description" column="description"/>
            <result property="imgName" column="img_name"/>
            <result property="startedAt" column="started_at"/>
            <result property="completedAt" column="completed_at"/>
        </association> -->
    </resultMap>

    <select id="selectTheme" parameterType="int" resultType="dev.odaat.Entity.Theme">
        SELECT theme.* FROM theme WHERE id=#{id}
    </select>

    <select id="selectAll" resultMap="TaskResult">
        SELECT * FROM task
        LEFT JOIN theme ON task.theme = theme.id
    </select>

    <select id="selectById" parameterType="int" resultMap="TaskResult">
        SELECT * FROM task
        LEFT JOIN theme ON task.theme = theme.id
        WHERE id=#{id}
    </select>

    <insert id="add" parameterType="dev.odaat.Entity.Task" useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO task(
            is_routine_task, theme, date, start_time, end_time, description, status
        ) VALUES (
            #{isRoutineTask},
            #{theme},
            #{date},
            #{startTime},
            #{endTime},
            #{description},
            #{status}
        );
    </insert>

    <update id="update" parameterType="dev.odaat.Entity.Task">
        UPDATE task
            SET 
                is_routine_task = #{isRoutineTask},
                theme = #{theme},
                date = #{date},
                start_time = #{startTime},
                end_time = #{endTime},
                description = #{description},
                status = #{status, javaType=dev.odaat.Entity.Enums.TaskStatus, jdbcType=OTHER},
            WHERE id=#{id};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM task WHERE id=#{id};
    </delete>
</mapper>